section.left {
  margin-bottom: 20px;
  float: left;
}

section.right {
  margin-bottom: 20px;
  float: right;
}

table.mat-table {
  width: 100%;
  border-collapse: collapse;

  td, th {
    border: 1px solid #333333;
    padding-left: 5px;
    padding-right: 5px;
  }

  th {
    border-bottom: 2px solid #333333;
    font-weight: bold;
  }

  td.date, td.account, td.funds-in, td.funds-out {
    text-align: right;
  }

  tr {
    height: 28px;
  }

  tr.mat-header-row {
    background-color: #96b183;
  }

  tr.mat-row {
    &.transaction {
      background-color: #b3cbae;
    }

    &.split {
      background-color: #efefef;
    }
  }
}